#contenidomapas{
    background-image: url(../img/temporadasfondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
#contenidomapas p{
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
}
h4{
    text-align: center;
}